/* font style */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commune style  start*/
.text-center{
    text-align: center;
}
section{
    margin-top: 120px;
}
.main{
    width: 1320px;
    margin: 0 auto;
}
/* commune style  end*/

/* header style */
.header{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
}
.beanar{
    background: linear-gradient(180deg, rgb(16, 16, 16) -10.5%,rgba(16, 16, 16, 0) 100%),url('../images/Banner\ Image.png');
    padding: 177px 344px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}
.sub-heading{
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
}
.heading{
    color: white;
    font-size: 72px;
}

/* discount section style */

section .doscount-box{
    text-align: center;
}
.discount-heading{
    font-size: 88px;
    color: #ff0000;
    margin-bottom: 48px;
}
.discount-sub-heading{
    font-size: 24px;
    font-weight: normal;
    color: #ff0000;
    margin-bottom: 16px;
}
.discount-heading-2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

/* wellcome section style */
.wellcome-conteinar{
    display: flex;
    background: linear-gradient(-250deg, rgb(16, 16, 16) -10.5%,rgba(16, 16, 16, 0) 100%),url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 68px 130px;
    border-radius: 16px;
}
.wellcome-heading{
    color: white;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 24px;
}
.wellcome-description{
    font-size: 18px;
    color: white;
    margin-bottom: 48px;
}
.wellcome-box a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 32px;
}

/* location section */
.location-box{
    background:linear-gradient(180deg, rgb(252, 199, 199) -10.5%,rgba(234, 190, 190, 0) 100%);
    padding: 100px 386px 110px;
    text-align: center;
    border-radius: 16px;
}
.location-box span{
    color: #ff0000;
}
.btn{
    padding: 16px 32px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 48px;
}

/* offer section */
.offer{
    display: flex;
    justify-content: space-around;
}
.col1-sub-heding{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 16px;
    color: #ff0000;
    margin-top: 104px;
}
.col1-heading{
    font-size: 48px;
    margin-bottom: 22px;
}
.col1-discription{
    font-size: 18px;
    color: #070211;
}
.col2 img{
    padding: 35px;
    border: 15px solid #ff0000;
    border-radius: 50%;
    margin-right: 118px;
    margin-left: 70px;
}

.col3 h1{
    font-size: 48px;
    color: #ff0000;
    margin-bottom: 16px;
    margin-top: 112px;
}
.col3 p{
    font-size: 18px;
    margin-bottom: 43px;
    color: #070211;
}

/* holidays sale section */
.holiday-sale h4{
    margin-bottom: 16px;
    font-size: 24px;
}
.holiday-sale h1{
    font-size: 75px;
}
.holiday-sale p{
    color: #070211;
    font-size: 18px;
    margin-bottom:64px ;
    margin-top: 28px;
}
.holiday-sale span{
    color: #ff0000;
}
.holiday-sale{
    text-align: center;
    margin: 0 200px;
    color: #070211;
}
.holiday-discount{
    display: flex;
    position: relative;
    height: 450px;
}
.discount{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-35deg);
    color: white;
    position: absolute;
    top: 130px;
    right: 170px;
}
.discount h2{
    font-size: 60px;
}
.discount p{
    font-size: 20px;
}
.holiday-discount img{
    position: absolute;
    z-index: 10;
}
.bg{
    width: 1320px;
    height: 229px;
    background-color: #ff0000;
    border-radius: 8px;
    
}

/* potfolio section */
.potfolio .potfolio-sub-heding{
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 16px;
}
.potfolio .potfolio-heading{
    font-size: 48px;
}
.potfolio .potfolio-discription{
    font-size: 18px;
    color: #070211;
    margin-top: 22px;
    margin-bottom: 48px;
    margin-right: 564px;
}
.all-prodact{
    display: flex;
    flex-wrap: wrap;
}
.all-prodact img{
    padding: 5px;
}

/* subceribe section */
.subcribe-section{
    text-align: center;
    padding: 80px 222px;
    background-color: #f5d5d5;
}
.subcribe-section h1{
    font-size: 48px;
    margin-top: 40px;
}
.subcribe-section p{
    font-size: 20px;
    margin: 22px 112px 50px;
    color: #070211;
}

input[type="search"]{
    font-size: 22px;
    padding: 25px 250px 25px 30px;
    border: none;
    border-top-left-radius: 50px;
    
}
.sb{
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 26px 40px 29px 40px;
    border-bottom-right-radius: 50px;
    background-color: #ff0000;
    position: absolute;

}
.s-btn{
    position: relative;
    margin-right: 160px;
}
.footer-main{
    background-color: #070211;
    color: white;
    padding: 120px 140px;
}
.footer-sub{
    display: flex;
    justify-content: space-between;
}
.footer-sub2{
    display: flex;
    justify-content: space-between;
}
hr{
    margin: 50px 0;
}
.icon{
    text-align: center;
}
